<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>exo1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body ng-app>
    <div >
      <p>{{nombre}}</p>
      <!-- <button type="button" id=""></button> -->
      <!-- <button type="button" id="moins"></button> -->
      <button ng-click="nombre = nombre + 1" ng-init="nombre=3">Ajout</button>
        <button ng-click="nombre = nombre - 1" ng-init="nombre=3">moins</button>
    </div>

  </body>
</html>
